a{
    width:35px;
    height:35px;
    position: relative;
}
fa{
    font-size: 22px;
}
span{
    position: absolute;
    width: 20px;
    height: 20px;
    top: -7px;
    right: -8px;
    font-size: 0.75rem;
}